body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.25;
    background-color: whitesmoke;
    color: black;
}

header, section {
    padding: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

section.about {
    background-color: beige;
}


section.about p {
    max-width: 30em;
}

section .photo1 { 
    background-color: blanchedalmond;
    background-color: white;

}

section .photo2 { 
    background-color: palegoldenrod;
    background-color: white;

}

section .photo3 { 
    background-color: tan;
    background-color: white;
 
}

section.photo { 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

section.photo img {
    max-width: 100px;
}

.right {
    float: right;
    t
section {
    background-color: white;
}